# Version constraints for pip-installation.
#
# This file doesn't install any packages. It specifies version constraints
# that will be applied if a package is needed.

# Base requirements.
tutor==21.0.0

# Dev requirements.
black==23.3.0
pip-tools==7.5.2
pylint==3.3.9
