# Version constraints for pip-installation.
#
# This file doesn't install any packages. It specifies version constraints
# that will be applied if a package is needed.

# Base requirements.
tutor==15.3.7

# Dev requirements.
black==23.3.0
bumpversion==0.6.0
isort==5.11.5
pip-tools==6.13.0
pylint==2.17.4
